/*  Contact form styling
================================================== */



#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
	width: 100%;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
	border: 1px solid #e9e7dc;
	margin-bottom:20px;
	padding:4px;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
	border: 1px solid #e9e7dc;
}

#contact-form textarea {
	resize:both;
}

#contact-form label {
	display:block;
}

#contact-form .required {
	font-weight:bold;
}

#contact-form #telephone {
}

#contact-form #submit-button {
}

#contact-form #submit-button:hover {
}

#contact-form #submit-button:active {
}

#errors {
	border:solid 1px #E58E8E;

	display:block;

	display:none;
}

#errors li {
	list-style:none;
	diplay: block;
}

#errors li:before {
	content: ' - ';
}

#errors #info {
}

#errors #info:before {
	content: '';
}

#success {
	border:solid 1px #83D186;
	padding:25px 10px;
	margin:25px 0px;
	display:block;

	font-weight:bold;
	display:none;
}

#errors.visible, #success.visible {
	display:block;
}

#req-field-desc {
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
}




/*  end of contact form styling
================================================== */
